.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem auto;
    margin: 1rem;
    list-style-type: none;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.product img {
    align-self: center;
    width: 60%;
    height: 60%;
}

.product button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 15%;
    height: 10%;
    border-style: none;
    cursor: pointer;
}


.loading {
    align-self: center;
}