.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;    
    margin: 1rem auto;   
    list-style-type: none;
}
.product {
    display: flex;
    flex-direction: column;    
    align-items: center;
    position: relative;   
    height: 50%;
  }
 
.product img {
    align-self: center;
    width: 80%;
    height: 60%;    
}

.product h3 {
    font-size: 1.2rem;
    margin: 1rem auto;
  }

.product button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 15%;
    height: 10%;
    border-style: none;
    cursor: pointer;
}

.product button svg {
    fill: #ccc;
    width: 2rem;
    height: 2rem;
  }


.loading {
    align-self: center;
}