.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem auto;
    margin: 1rem;
    list-style-type: none;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product img {
    align-self: center;
    width: 60%;
    height: 60%;
}

.loading {
    align-self: center;
}